.App {
  text-align: center;
}
.c1 {
  border: 2px solid black;
  padding: 2%;
  margin: 1%;
}
.c2 {
  border: 2px solid black;
  padding: 2%;
  margin: 1%;
}
.c3 {
  border: 2px solid black;
  padding: 2%;
  margin: 1%;
}
